/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  user-select: none;
}

body {
  overflow: hidden;
  height: 100vh;
  background-color: #00051B;
  background-image: radial-gradient(rgba(4, 56, 98, 0.5) 4px, transparent 0);
  background-size: 13px 13px;
}

html {
  overflow: hidden;
}

/* General */
#blur {
  z-index: 998;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}


#team-answering {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  margin-top: 25px;
  border-bottom: 8px black solid;
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  padding: 10px;
  border-radius: 20px;
  height: 98px;
  z-index: 999;
}

#team-answering-fill {
  color: white;
  font-size: 45px;
  padding: 5px 10px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 5px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
  font-weight: bold;
  height: 70px;
}


#leaderboard {
  display: flex;
  width: 500px;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1000%);
  z-index: 999;
  transition: ease 1s all;
}

.leaderboard-title {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  padding: 10px;
  border-radius: 20px;
  height: 90px;
  border-bottom: 8px black solid;
}

.leaderboard-title-fill {
  color: white;
  font-size: 40px;
  padding: 5px 10px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 5px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
  font-weight: bold;
  height: 62px;
  text-align: center;
}

#leaderboard-teams {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 20%;
  align-items: center;
}

.leaderboard-team {
  position: absolute;
  margin-bottom: 7px;
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  padding: 10px;
  border-radius: 20px;
  height: 77px;
  border-bottom: 8px black solid;
  transition: top 0.5s ease;
  margin-top: 125px;
}

.leaderboard-team-fill {
  font-size: 30px;
  padding: 5px 10px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 5px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  white-space: nowrap;
}


#teams-cont {
  top: 28.5vh;
  height: 100%;
  position: absolute;
  display: flex;
  width: 14%;
  right: 0;
}

.team {
  position: absolute;
  width: 90%;
  border-bottom: 8px black solid;
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  transition: top 0.5s ease;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.team-fill {
  color: white;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 7px black;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.team-fill p {
  font-size: 21px;
  font-weight: bold;
}

.team-fill h5 {
  font-size: 27px;
}

/* First Game */
#quiz-1 {
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, 1000%);
  transition: ease 1s all;
  width: 55%;
  height: 82%;
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  border-bottom: 20px black solid;
  padding: 20px;
  border-radius: 30px;
  z-index: 999;
}

.quiz-fill-1 {
  background-color: #001E27;
  padding: 5px 10px;
  border-radius: 10px;
  border-left: solid 10px #210B00;
  border-right: solid 10px #AC9148;
  border-top: solid 15px black;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#question-1 {
  width: 100%;
  height: 37%;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: 30px;
  color: white;
}

.match-timer-cont-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.match-timer-1 {
  width: 80px;
  border-bottom: 8px black solid;
  background-color: #735200;
  padding: 8px;
  border-radius: 20px;
}

#match-timer-fill-1 {
  color: #FFEA84;
  text-align: center;
  font-size: 35px;
  padding: 0 5px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 5px black;
  font-weight: 400;
}

.answer-cont-1 {
  width: 100%;
  display: flex;
  gap: 5px;
  color: white;
  font-size: 23px;
  flex-direction: column;
  align-items: center;
}

#answer-1-1 {
  width: 95%;
  border-bottom: 8px black solid;
  background: linear-gradient(110deg, #FFEA84, #9C7519);
  padding: 5px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

#answer-1-1 .answer-fill-1 {
  text-align: center;
  padding: 7px 10px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 7px black;
}

#answer-2-1 {
  width: 95%;
  border-bottom: 8px black solid;
  background: linear-gradient(110deg, #FFEA84, #9C7519);
  padding: 5px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

#answer-2-1 .answer-fill-1 {
  text-align: center;
  padding: 7px 10px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 7px black;
}

#answer-3-1 {
  width: 95%;
  border-bottom: 8px black solid;
  background: linear-gradient(110deg, #FFEA84, #9C7519);
  padding: 5px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

#answer-3-1 .answer-fill-1 {
  text-align: center;
  padding: 7px 10px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 7px black;
}

#answer-4-1 {
  width: 95%;
  border-bottom: 8px black solid;
  background: linear-gradient(110deg, #FFEA84, #9C7519);
  padding: 5px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

#answer-4-1 .answer-fill-1 {
  text-align: center;
  padding: 7px 10px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 7px black;
}


#category-cont-1 {
  display: flex;
  margin: 145px 20% 145px 30px;
  color: white;
  font-weight: bold;
}

#category-names-cont-1 {
  display: flex;
  flex-direction: column;
}

#category-variants-cont-1 {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.category-name-1 {
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  padding: 10px;
  border-radius: 20px;
  height: 78px;
  border-bottom: 8px black solid;
  margin-right: 100px;
  margin-bottom: 15px;
}

.category-name-fill-1 {
  font-size: 30px;
  padding: 5px 10px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 5px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
  height: 51px;
  text-align: center;
}

.category-variant-1 {
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  padding: 9px;
  border-radius: 20px;
  height: 71px;
  width: 71px;
  border-bottom: 8px black solid;
  margin-right: 40px;
  cursor: pointer;
  margin-bottom: 23px;
}

.category-variant-fill-1 {
  font-size: 30px;
  padding: 1px 0px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 5px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
  height: 46px;
  text-align: center;
}

/* Second Game */
#points-align {
  padding: 40px 0 40px 80px;
  height: 100%;
  position: absolute;
  width: 16%;
}

#points-cont {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.point-border {
  width: 100%;
  height: 40px;
  position: relative;
  background: linear-gradient(350deg, #FFEF9F, #D9A73B);
  padding: 5px;
  border-radius: 5px;
  margin-top: 4px;
  border-bottom: 3px black solid;
}

.point-fill {
  padding: 13px 0;
  border-radius: 5px;
  border: solid 2px #A87D21;
}

#points-counter-cont {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translateX(15%);
}

#points-counter {
  font-size: 90px;
  font-weight: bolder;
  color: #32250A;
}


#category-border {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 1000%);
  transition: ease 1s all;
  width: 40%;
  height: 70%;
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  border-bottom: 20px black solid;
  padding: 20px;
  border-radius: 30px;
  z-index: 999;
}

#category-fill {
  background-color: #001E27;
  padding: 5px 10px;
  border-radius: 10px;
  border-left: solid 10px #210B00;
  border-right: solid 10px #AC9148;
  border-top: solid 15px black;
  height: 100%;
}

.category {
  display: flex;
  color: white;
  font-size: 40px;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
}


#quiz-2 {
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question-2 {
  width: 60%;
  height: 40%;
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  border-bottom: 20px black solid;
  padding: 20px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 30px;
}

#question-fill-2 {
  background-color: #001E27;
  padding: 5px 10px;
  border-radius: 10px;
  border-left: solid 10px #210B00;
  border-right: solid 10px #AC9148;
  border-top: solid 15px black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: white;
}

#btn-cont {
  width: 60%;
  margin-bottom: 25px;
}

#answer-1-2 {
  width: 100%;
  border-bottom: 8px black solid;
  border-right: 3px black solid;
  background: linear-gradient(to right, #FFEA84, #9C7519);
  padding: 5px;
  border-radius: 15px;
  position: relative;
  margin-right: 50px;
  cursor: pointer;
}

#answer-1-2 .answer-fill-2 {
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 0 5px;
  background-color: #001E27;
  border-radius: 10px;
  border-left: solid 5px black;
  border-top: solid 7px black;
}

#answer-2-2 {
  width: 100%;
  border-bottom: 8px black solid;
  border-left: 3px black solid;
  background-color: #B99131;
  padding: 5px;
  border-radius: 15px;
  position: relative;
  margin-left: 50px;
  cursor: pointer;
}

#answer-2-2 .answer-fill-2 {
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 0 5px;
  background-color: #001E27;
  border-radius: 10px;
  border-right: solid 5px black;
  border-top: solid 7px black;
}

#timer-variant-cont {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.match-timer-2 {
  width: 100px;
  border-bottom: 8px black solid;
  background-color: #735200;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  top: 63%;
  z-index: 1;
}

#match-timer-fill-2 {
  color: #FFEA84;
  text-align: center;
  font-size: 35px;
  padding: 0 5px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 5px black;
  font-weight: 400;
}

.variant {
  width: 60%;
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  border-bottom: 20px black solid;
  padding: 20px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 20px;
  height: 144px;
}

#variant-fill {
  background-color: #001E27;
  border-radius: 10px;
  border-left: solid 15px #210B00;
  border-right: solid 15px #AC9148;
  border-top: solid 20px black;
  height: 100%;
  color: white;
  font-size: 50px;
  text-align: center;
}

/* Third Game */
#quiz-3 {
  color: white;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin-right: 200px;
}

.answers-cont-3 {
  display: flex;
  z-index: 1000;
}

.game-rule {
  margin-bottom: 100px;
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  padding: 10px;
  border-radius: 20px;
  border-bottom: 8px black solid;
}

.game-rule-fill {
  font-size: 50px;
  font-weight: bold;
  padding: 8px 12px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 5px black;
}

.answer-cont-3 {
  text-align: center;
  margin-right: 50px;
}

.answer-cont-last {
  text-align: center;
}

.answer-3 {
  background: linear-gradient(110deg, #FFEA84, #6D4D00);
  padding: 10px;
  border-radius: 20px;
  border-bottom: 8px black solid;
  cursor: pointer;
  width: 17.5vw;
  height: 25vh;
}

.answer-fill-3 {
  font-size: 30px;
  padding: 5px 10px;
  background-color: #001E27;
  border-radius: 10px;
  border-top: solid 5px black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#answer-clue-1 {
  transition: ease all .2s;
}

#answer-clue-2 {
  transition: ease all .2s;
}

#answer-clue-3 {
  transition: ease all .2s;
}

#answer-clue-4 {
  transition: ease all .2s;
}
